{% load static %}

<footer>
    <div class="footer_div">
        <div class="row">
            <div class="col-7 info_shop">
                <div class="info_contact">
                    <table>
                        <tr>
                            <td><i>📍 Address:</i></td>
                            <td><span>Kharkiv, 15 Tsentralnaya St.</span></td>
                        </tr>
                        <tr>
                            <td><i>📞 Telephone:</i></td>
                            <td><span><a href="tel: +380 (57) 123‑45‑67">+380 (57) 123‑45‑67</a></span></td>
                        </tr>
                        <tr>
                            <td><i>📧 Email:</i></td>
                            <td><span><a href="mailto: support@toyshop.com">support@toyshop.com</a></span></td>
                        </tr>
                        <tr>
                            <td><i>🕒 Operating hours:</i></td>
                            <td><span>Mon–Fri 9:00–18:00, Sat 10:00–15:00</span></td>
                        </tr>
                        <tr>
                            <td><i>💬 Online chat:</i></td>
                            <td><span>available on the website around the clock</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-2 info_subscriber">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><i>Email address</i></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <input type="button" class="btn btn-danger" value="Subscribe">
                </div>
            </div>
        </div>
    </div>
    <div class="footer_under">Author: Aleksandr Storchak @2026</div>
</footer>