{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ToyStore</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Open+Sans:wght@400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'asserts/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'asserts/css/styles.css' %}">
</head>
<body>
{% include "layouts/header.html" %}
<main class="container top">
    {% block content %}
    {% endblock %}
</main>
{% include "layouts/footer.html" %}
<script src="{% static 'asserts/js/script.js' %}"></script>
</body>
</html>