{% extends "layouts/layout.html" %}
{% load static %}
{% block content %}
    <div class="details">
        <h1>{{ product.name }}</h1>
        <h2><span>Category: </span>{{ product.category }}</h2>
        <h2><span>Brand: </span>{{ product.brand }}</h2>

        <h4><span>Article: </span>{{ product.article }}</h4>
        <table>
            <tr>
                <td>
                    <div class="images">
                        {% for img in images %}
                            <img src="{{ img.image.url }}" alt="{{ img.alt_text|default:product.name }}">
                        {% empty %}
                            <img src="{% static 'asserts/img/no-img.png' %}"
                                 alt="There are no images for this product.">
                        {% endfor %}
                    </div>
                </td>
                <td><strong>{{ product.description_full|safe }}</strong></td>
            </tr>
        </table>
        <h2><span>Rating:</span> {{ product.rating }}</h2>
        <h2><span>Material:</span> {{ product.material }}</h2>
        <h2><span>Weight: </span> {{ product.weight }}</h2>
        <h2><span>Age min:</span> {{ product.age_min }}</h2>
        <h2><span>Age max:</span> {{ product.age_max }}</h2>
        <h2><span>Old price:</span> {{ product.old_price|default:"" }}</h2>
        <h2><span>Current price:</span> {{ product.price }}</h2>
    </div>
    <form action="/cart/" method="post">
        {% csrf_token %}
        <input type="hidden" name="product" value="{{ product.id }}">
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn-primary">Add to cart</button>
    </form>
{% endblock %}